.cover{
    background-color: gray;
    width: 210px;
    height: 210px;
    margin-bottom: 5px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv1{
    background-image: url("../Assets/Images/cover1.jpg");
    background-size: contain;
}
.cv2{
    background-image: url("../Assets/Images/cover2.jpg");
    background-size: contain;
}
.cv3{
    background-image: url("../Assets/Images/cover3.jpg");
    background-size: contain;
}

.cv4{
    background-image: url("../Assets/Images/cover4.jpg");
    background-size: contain;
}

.vinyl {
    background-color: black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: -1;
    transform: translate(-200px);
    transition: transform 2s;
    
  
    
}

.detail{
    background-image: url("../Assets/Images/cover1.jpg");
    border-radius: 50%;
    width: 130px;
    height: 130px;
    
}
.label{
    background-color: rgb(255, 180, 41);
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.hole{
    background-color: aliceblue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.open + .vinyl{
    transform: translate(-50px);
    

}